@import "../../../Sass/Variables.scss";
@import "../../../Sass/mixins.scss";

.filter {
  .form-control {
    margin-bottom: 1.25rem;
    h5 {
      margin-bottom: 0.7rem;
    }
  }
  .search-input {
    padding: 0.4rem 0;
    background: $white-2;
    border-radius: $radius;
    border-color: transparent;
    outline-color: $second-color;
    letter-spacing: 0.1rem;
    width: 160px;
  }
  .search-input::placeholder {
    text-transform: capitalize;
  }

  button {
    display: block;
    margin: 0.25em 0;
    padding: 0.25rem 0;
    text-transform: capitalize;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    letter-spacing: 0.1rem;
    color: $light-grey-2;
    cursor: pointer;
  }
  .active {
    border-color: $light-grey-2;
  }
  .type {
    background: $white-2;
    border-radius: $radius;
    border-color: transparent;
    padding: 0.4rem 0;
    outline-color: $second-color;
    width: 160px;
  }
  .all-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    opacity: 0.5;
  }
  .active {
    opacity: 1;
  }
  .all-btn .active {
    text-decoration: underline;
  }
  .swimming_pool {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-transform: capitalize;
    column-gap: 0.5rem;
    font-size: 1rem;
    color: $third-color;
  }
  .reset-btn {
    background: $main-color;
    color: $white-color;
    padding: 0.4rem 0;
    border-radius: $radius;
    width: 160px;
  }
  @media (min-width: 768px) {
    .content {
      position: sticky;
      top: 1rem;
    }
  }
}
