.GridView {
  img {
    height: 175px;
  }

  .watersports-container {
    display: grid;
    gap: 2rem 1.5rem;
  }

  @media (min-width: 992px) {
    .watersports-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1170px) {
    .watersports-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
