@import "../../../Sass/Variables.scss";
@import "../../../Sass/mixins.scss";

.Sort {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  margin-bottom: 2rem;
  column-gap: 2rem;
  @media (max-width: 576px) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.75rem;
    .btn-container {
      width: 50px;
    }
    label {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
  @media (min-width: 768px) {
    column-gap: 2rem;
  }
  p {
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    button {
      background: transparent;
      border: 1px solid $main-color;
      color: $main-color;
      width: 1.5rem;
      border-radius: $radius;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        font-size: 1rem;
      }
    }
    .active {
      background: $main-color;
      color: $white-color;
    }
  }

  .sort-input {
    border-color: transparent;
    background-color: #f5ede5;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.15rem 0.3rem;
  }
  label {
    font-size: 1rem;
    text-transform: capitalize;
    color: $third-color;
    margin-right: 14px;
  }
}
