@import "./../../Variables.scss";
@import "./../reset.scss";
@import "./../fonts.scss";

// Logo Mixin
@mixin logo {
  @include reset-link;
  display: flex;
}

// Logo Image Mixin
@mixin logo-image {
  display: block;
  position: relative;
  user-select: none;
  width: 200px;
  cursor: pointer;
  // height: 90px;
}

// Logo Text Mixin
@mixin logo-text {
  @include first-header;
  font-size: 30px;
  color: $main-color;
  user-select: none;
  font-weight: normal;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  cursor: pointer;

  @media (max-width: $maxLargeScreens) {
    font-size: 30px;
  }

  @media (max-width: $maxXSmallScreens) {
    font-size: 22px;
  }

  span {
    // color: $third-color;
    color: $white-color;
  }
}
